<div id="form-login">
	<%= form_tag login_path do %>
	
	<h3 id="green"> 
	<%= label_tag ' username @' %>
	<%= text_field_tag :username, nil, placeholder: 'username' %> 
	</h3>

	<span id="red"> or </span>

	<h3 id="green"> 
	<%= label_tag ' email' %>
	<%= text_field_tag :email, nil, placeholder: 'e-mail' %>
	</h3>

	<span id="red"> and </span>

	<h3 id="green"> 
	<%= label_tag " password" %>
	<%= password_field_tag :password, nil, placeholder: 'very secure password' %> 
	</h3>

	<h3 id="green"> <%= submit_tag 'log me in' %> </h3>

	<% end %>
	<br />
</div>