<section id="tweets-container">

<h3>Tweets</h3>

<% @tweets.each do |t| %>
<ul>
  <li class="tweet">
    <img class="avatar" src="https://pbs.twimg.com/profile_images/2858734172/db7da718fd369eba6184973631d7d84a_bigger.jpeg" alt="">
    <div class="tweet-content">
      <p>
        <span> tweet id : <%= t.id %> </span>
        <span class="full-name"> <%= @user.username %> </span>
        <span class="timestamp"> <%= t.since? %> </span>
        <span> <%= link_to 'delete tweet', user_tweet_path(@user.id, t), method: :delete %> </span>
      </p>
      <p> <%= t.body %> </p>
      <p> <%= t.likes.count %> likes ||| <%= t.dislikes.count %> dislikes </p>
    </div>
  </li>
</ul>
<% end %>

</section>