<section id="tweets-container">

<% @tweets.each do |t| %>
<ul>
  <li class="tweet">
    <span> <%= image_tag("https://pbs.twimg.com/profile_images/2858734172/db7da718fd369eba6184973631d7d84a_bigger.jpeg") %> </span>
    <span id="red"> > tweet id: <%= t.id %> </span>
    <% if @user.id == current_user.id %>
    <span> <%= link_to 'delete tweet', user_tweet_path(@user.id, t), method: :delete, data: {confirm: 'Delete this tweet ?'} %> </span> 
    <% end %>
    
    <div class="tweet-content">
      <p id="green"> <%= t.body %> </p>
      <p id="blue"> 
        <%= t.likes.count %> 
        <%= image_tag 'thumbs_up', {width: 20, length: 20, class: 'thumbs-up'} %>  ||| 
        <%= t.dislikes.count %> <%= image_tag 'thumbs_down', {width: 20, length: 20, class: 'thumbs-down'} %>
      <span id="red"> <%= t.posted_when? %> </span> ||| 
      <% if t.liked_users.include?(current_user) %>
        <span> <%= link_to 'un - like', user_tweet_like_path(@user, t.id) %> ||| 
      <% else %>
        <span> <%= link_to 'like', user_tweet_like_path(@user, t.id) %> ||| 
      <% end %>
      <% if t.disliked_users.include?(current_user) %>
        <%= link_to 'un - dislike', user_tweet_dislike_path(@user, t.id) %></span> 
      <% else %>
        <%= link_to 'dislike', user_tweet_dislike_path(@user, t.id) %></span> 
      <% end %>
      </p>
    </div>
  </li>
</ul>
<% end %>

</section>