<div id="slide">
	<div id="form-tweet">
		<%= form_for [current_user, @tweet] do |f| %>

			<%= f.text_area :body, { placeholder: 'tweet' } %>
			<%= f.label :private %>
			<%= f.check_box :private %> <br />

			<%= f.submit 'tweet me' %>
		<% end %>
	</div>
</div>