<div id='form-user'>
	<%= form_for @user, url: users_path do |f| %>
		
		<h3 id="green">
		<%= f.label ' first name' %> 
		<%= f.text_field :first, placeholder: 'more than 2 characters' %> <span id="red"> * </span>
		</h3>

		<h3 id="green">
		<%= f.label " last name" %> 
		<%= f.text_field :last, placeholder: 'more than 2 characters' %> <span id="red"> * </span>
		</h3>	

		<h3 id="green">
		<%= f.label " username @" %> 
		<%= f.text_field :username, placeholder: 'more than 3 characters' %> <span id="red"> * </span>
		</h3>

		<h3 id="green">
		<%= f.label " email" %>
		<%= f.text_field :email, placeholder: 'email' %> <span id="red"> * </span>
		</h3>

		<h3 id="green">
		<%= f.label " password" %>
		<%= f.password_field :password, placeholder: 'more than 3 characters' %> <span id="red"> * </span>
		</h3>

		<h3 id="green">
			<%= f.label ' image' %> <br />
			<text id="red"><%= f.file_field :avatar, as: :file %> </text>	
		</h3>
		<br/>

		<h3 id="green" > <%= f.submit %> </h3>

	<% end %>	
	<p id="red"> * fields required </p>
	<br />
</div>
