<div id='form-user'>
	<%= form_for @user do |f| %>

		<h3 id="green">
		<%= f.label :username %> 
		<%= f.text_field :username , placeholder: 'more than 3 characters' %> 
		</h3>

		<span id="red"> and </span>			

		<h3 id="green">
		<%= f.label :email %>
		<%= f.text_field :email, placeholder: 'email' %> 
		</h3>

		<span id="red"> and </span>

		<h3 id="green">
		<%= f.label :password %>
		<%= f.password_field :password, placeholder: 'more than 3 characters' %> 
		</h3>

		<h3 id="green" > <%= f.submit %> </h3>

	<% end %>	
	<br />
</div>
