<% unless current_user.id == @user.id %>
	<div id="follow-box">
		<% if @user.followed_by?(current_user) %>
			<%= link_to 'unfollow', user_unfollow_path(@user) %>
		<% else %>
			<%= link_to 'follow', user_follow_path(@user) %>
		<% end %>
	</div>
<% end %>

<div id="new_tweet">
	new miweet
</div>

<%= render 'tweets/tweet_form' %>

<div class="container">

	<ul class='tabs'>
		<li> <%= button_tag 'profile', { href: '#profile' } %> </li>
		<li class='aktif'> <%= button_tag 'tweets', { href: '#tweets', id: 'green' } %> </li>
		<li> <%= button_tag 'followers', { href: '#followers', id: 'blue' } %> </li>
		<li> <%= button_tag 'following', { href: '#following', id: 'blue' } %> </li>
		<li> <%= button_tag 'account information', { href: '#information', id: 'red' } %> </li>
	</ul>

	<div class="content" id='profile'>
		<h2 id="green"> <%= @user.fullname %> </h2>
		<p> <%= image_tag	@user.avatar.url, {width: 400, length: 400, class: 'profile-images' }%> </p>
		<h2 id="blue"> followers - <%= @user.follows.count %> <br> following - <%= @user.following.count %> </h2>
		<h4 id="red"> total tweets <%= @tweets.count %> </h4>
	</div>

	<div class="content" id="tweets">
	<% if @tweets.empty? %>
		Haven't tweeted yet .
	<% else %>
		<h2> tweets of <%= @user.username %></h2>
		<%= render 'tweets/tweets' %>
	<% end %>
	</div>

	<div class="content" id="followers">
		<h2 id="green"> <%= @user.follows.count %> people follows @<%= @user.username %> </h2>
		<% @user.follows.each do |f| %>
			<li> 
				<% user = User.find(f.followed_user_id) %>
				<%= image_tag user.avatar.url, {width: 50, length: 50} %>
				<%= link_to '@' + User.find(f.followed_user_id).username, user_path(f.followed_user_id) %> 
			</li>
		<% end %>
	</div>

	<div class="content" id="following">
		  <h2 id="green"> @<%= @user.username %> following <%= @user.following.count %> people </h2>
		<% @user.following.each do |f| %>
			<li> 
				<% user = User.find(f.follower_id) %>
				<%= image_tag user.avatar.url, {width: 50, length: 50} %>
				<%= link_to "@" + User.find(f.follower_id).username, user_path(f.follower_id) %> 
			</li>
		<% end %>
	</div>

	<div class="content" id="information">
		<h3> username : <%= @user.username %> </h3>
		<h3> email : <%= @user.email %> </h3>
		<h4> signed up <%= time_ago_in_words(@user.created_at) %> ago </h4>
		<% if @user.id == current_user.id %>
		<h4> <%= link_to 'deactivate', user_path(@user), method: :delete, data: { confirm: ' do you really want to DEACTIVATE your account ?' }%> </h4>
		<% end %>
	</div>

</div> <!-- container -->