<!-- <h2> <%= @user.username %> ' s profile </h2> -->

<div id="new_tweet">
	new tweet
</div>
<div id="slide">
	<div id="form-tweet">
		<%= render 'tweets/tweet_form' %>
	</div>
</div>

<div class="container">
	<ul class='tabs'>
		<li> <%= button_tag 'profile', { href: '#profile' } %> </li>
		<li class='aktif'> <%= button_tag 'your tweets', { href: '#tweets' } %> </li>
		<li> <%= button_tag 'followers', { href: '#followers' } %> </li>
		<li> <%= button_tag 'following', { href: '#following' } %> </li>
		<li> <%= button_tag 'account information', { href: '#information' } %> </li>
	</ul>

	<div class="content" id="tweets">
	<% if @tweets.empty? %>
		You haven't tweeted yet .
	<% else %>
		<%= render 'tweets/tweets' %>
	<% end %>
	</div>

	<div class="content" id='profile'>
		<h2> followers - <%= @user.follows.count %> <br> following - <%= @user.following.count %> </h2>
		<h4> your tweets <%= @tweets.count %> </h4>
	</div>

	<div class="content" id="followers">
		<%= @user.follows.count %> people are following you 
		<% @user.follows.each do |f| %>
			<li> user = <%= User.find(f.followed_user_id).username %> </li>
		<% end %>
	</div>

	<div class="content" id="following">
		you are following <%= @user.following.count %> people
		<% @user.following.each do |f| %>
			<li> <%= User.find(f.follower_id).username %> </li>
		<% end %>
	</div>

	<div class="content" id="information">
		<h3> username : <%= @user.username %> </h3>
		<h3> email : <%= @user.email %> </h3>
		<h4> signed up <%= time_ago_in_words(@user.created_at) %> ago </h4>
		<h4> <%= link_to 'deactivate', user_path(@user), method: :delete, data: { confirm: ' do you really want to DEACTIVATE your account ?' } %> </h4>
	</div>

</div> <!-- container -->