<div id="new_hashtag">
	new hashtag
</div>

<div id="slide_2">
	<div id="form-hashtag">
		<div id="form-hashtag">
			<%= form_for @hashtag do |f| %>

				<%= f.label '#' %>
				<%= f.text_field :name, { value: '#' } %>
				<br />
				<%= f.label 'private ?' %>
				<%= f.check_box :private %>
				<br />
				<br />
				
				<%= f.submit 'hashtag' %>
			<% end %>
		</div>
	</div>
</div>