<%= render 'hashtags/hashtag_form' %>

<h2> recent hashtags </h2>

<% @hashtags.each do |h| %>
	<% if h.user_id == nil %>
		<h3 id="red"> <%= link_to h.name, hashtag_path(h) %> <span id="pad"> Created by anonymous ! </h3> </span>
	<% else %>
		<h3 id="green"> <%= link_to h.name, hashtag_path(h) %> <span id="pad"> Created by user <%= link_to User.find(h.user_id).fullname, user_path(h.user_id) %> </h3> </span>
	<% end %>
<% end %>


<!-- ############ -->

<!-- 
<% @hashtags.each_with_index do |x,i| %>
	<h3>
	<% if i%3==2 %>	
		<li id="green"> <%= link_to x.name, hashtag_path(x) %> </li>
	<% elsif i%3==1 %>
		<li id="red"> <%= link_to x.name, hashtag_path(x) %> </li>
	<% else %>
		<li id="blue"> <%= link_to x.name, hashtag_path(x) %> </li>
	<% end %>
	</h3>
<% end %>

 -->