<% if current_user %>
	<%= render "hashtag_tweet_form" %>
	<% if @hashtag.user_id == nil %>
		<h2 id="green"> <%= @hashtag.name %> </h2> <span id="red"> created by anonymous user. </span>
	<% else %>
		<h2 id="green"> <%= @hashtag.name %> </h2> <span id="blue"> created by <%= link_to '@' + User.find(@hashtag.user_id).username, user_path(@hashtag.user_id) %> </span>
	<% end %>

<% else %>
		<h2 id="green"> <%= @hashtag.name %> </h2> <span id="red"> created by anonymous user. </span>
<% end %>
	
<h4> <%= link_to 'Back', hashtags_path %> </h4>

<%= render "hashtag_tweets" %>