<!DOCTYPE html>
<html>
  <head>
    <title>Miwitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div id="menubar">
  	<ul>
  		<li> <%= link_to 'home', '/' %> </li>
  		<li> <%= link_to 'sign up' %> </li>
  		<li> <%= link_to 'login' %> </li>
  	</ul>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
