<!DOCTYPE html>
<html>
  <head>
    <title>Miwitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div id="menubar">
  	<ul id='menubar-list'>
      <% if current_user == nil %>
        <li> <%= link_to 'sign up', new_user_path, class: 'left-links' %> </li>
        <li> <%= link_to 'login', login_path, class: 'left-links' %> </li>
      <% else %>
        <li> <%= link_to 'newsfeed', user_newsfeed_path(current_user), class: 'left-links' %> </li>
      <% end %>
      <li> <%= link_to 'hashtags', hashtags_path, class: 'left-links' %> </li>
    </ul>
  </div>

	<% if current_user %>
  <div id='menu-user', class="dropdown">
          <!-- <%= image_tag current_user.avatar.url, { height: 100, length: 100} %> -->
          <%= button_tag current_user.username, class: 'button' %>
          <!-- <button class="button"> <%= link_to current_user.username, user_path(current_user) %> </button> -->
				  <div class="dropdown-content">
						<%= link_to 'profile', user_path(current_user) %>
            <%= link_to 'logout', logout_path, data: { confirm: 'Logout ?' } %>
			  	</div>
  </div>
	<% end %>

  <body>
    <%= yield %>
  </body>
</html>